/* Animation de rotation */
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Apparence du curseur personnalisé */
  #rotating-cursor {
    z-index: 1000; /* Toujours au-dessus des éléments */
  }
  
  
  button {
    cursor: none; 
  }
  

body {
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
    background-image: linear-gradient(to left top, #f9f9f9, #dfdfe5, #c5c5d1, #abacbe, #9094ab, #868dab, #7a86ab, #6e80ab, #6e88be, #6b91d2, #6799e6, #5fa2fb);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}

/* Container principal */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.haut-bas {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 20px;
    gap: 20px;
}

.haut {
    display: flex;
    gap: 6rem;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.game-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1000;
    text-align: center;
    font-size: 1.2em;
}

/* Cadre pour chaque joueur */
.carte-joueur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #b79d4f;
    border-radius: 15px;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#timer{
    color: #0a0b0b;
    font-weight: bold;
    font-size: larger;
}

.infos-joueur {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: auto;
    width: 100%;
    color: black;
}


.nom-joueur {
    font-size: 1.5rem;
    padding: 2rem;
}

.points-joueur {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 60px;
    padding: 1rem;
    color: black;
}

.icone-roue {
    width: 20px;
    height: 20px;
    color: black;

}

.bas {
    display: flex;
    height: 90%;
    width: auto;
    align-items: center;
    justify-content: center;
    
}

.bas svg{
    max-width: 1000px;
    opacity: 1;

}


.jeu-plateau {
    width: 100%;
    height: auto;
}

.container-gauche {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 25%;
    height: auto;

    
}

.gauche {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    height: 50%;
    padding: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to left top, #ffc61d, #ffbc49, #feb566, #f4b17f, #e3af94);
    border: 5px solid rgb(25, 30, 31);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.scene-jeu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.cube-jeu {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-in-out;
}

.face {
    width: 100px;
    height: 100px;
    background: #0a0b0b;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
}

.bouton-lancer1 {
    display: flex;
    flex-direction: column;

}

.bouton-lancer2 {
    display: flex;
    flex-direction: column;
}

.bouton-lancer1 button {
    background: #efefef;
    color: rgb(0, 0, 0);
    border: 1px solid #f3f3f3;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    font-size: 1rem;
    height: 50px;
    width: 130px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    overflow: hidden;
}
  
.bouton-lancer1 button:hover {
    background: rgb(170, 157, 157);
    color: #2ED7FF;
    border: 1px solid #2ED7FF;

}

.bouton-lancer2 button {
    background: #FFC61D;
    color: white;
    border: 1px solid #FFC61D;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    font-size: 1.2rem;
    height: 40px;
    width: 140px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    overflow: hidden;
}
  
.bouton-lancer2 button:hover {
    background: black;
    color: #FFC61D;
    border: 1px solid #FFC61D;
    transform: scale(1.1);
}

#de-2 {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #de-2 .face {
    font-size: 24px;
    font-weight: bold;
  }


/* ---------------------------------------------------------*/
.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:50rem;
    height: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Correction ici: -50% au lieu de 50% */
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.cont1{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.cont2{
    width: 30rem;
    height: auto;
}

.zone-carte {
    flex-direction: column;
    display: none;
    margin-top: 15px;
}

.face {
    font-size: 24px;
    font-weight: bold;
}

/* Styles pour la question */
.question-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #0a0b0b;
}

/* Styles pour les réponses */
.reponse {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reponse-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7ab1d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reponse-btn:hover {
    background-color: #d0ca2e;
}

/* Styles pour le bouton lancer */
.bouton-lancer2 {
    margin: 15px 0;
    text-align: center;
}

#lancer-de {
    padding: 30px   20px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-left: 2rem;
}

#lancer-de:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.joueur {
    font-weight: bold;
    margin-bottom: 5px;
}

/* ---------------------------------------------------------*/
/********************************/

  