/* Corps de la page */
body {
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
    background: black;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  
    /* Curseur par défaut */
    cursor: none; /* Supprime le curseur natif pour le remplacer par une image personnalisée via JS */
  }
  
  /* Conteneur principal */
  .jeu-interface {
    width: 90%;
    max-width: 1200px;
    background: #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  /* Menu du jeu */
  .menu-jeu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  
  /* Sélection des joueurs */
  .selection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    width: 80%;
  }
  
  /* Titre joueur */
  .joueur {
    font-size: 2rem;
    color: #FFC61D;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(255, 198, 29, 0.8);
  }
  
  /* Organisation des pions */
  .pions {
    display: flex;
    gap: 40px;
  }
  
  /* Pions */
  .pion {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .pion.selected{
    border-color: #FFC61D;
    box-shadow: 0 0 10px #FFC61D;
  }

  .pion:hover {
    border-color: #FFC61D;
    box-shadow: 0 0 10px #FFC61D;
  }

  /*bouton suivant*/
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin: 10px;
  }

  .btn:hover {
      background-color: #0056b3;
  }

  .player-info {
      margin-bottom: 20px;
      font-size: 20px;
      color: #333;
  }

  /*nom joueur 1 et 2*/
  .player-info {
      margin-bottom: 20px;
      font-size: 20px;
      color: #333;
  }
  
  /* Animation pour le curseur */
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Bouton démarrer */
  
  /* Logo du jeu */
  .logo-jeu {
    width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  